/*Generic Classes*/
body {
	word-wrap: break-word;
	width: 100%;
	margin:0;
	text-align:justify;
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 1.3em;
	padding: 0;
}

a {
	margin: 1px;
	text-decoration: none;
	transition: color .3s, background-color .3s;
}

a:hover {
	text-decoration: underline;
}

h1, h2, h3, h4, h5, h6 {
	margin-bottom: 15px;
	font-weight: 400;
}

div.kiamagic-site-title h1 {
	font-size: 1.2em;
	text-align: center;
	margin-bottom: 5px;
}

div#kiamagic-top-level_menu {   
	min-height:2em;
	width:100%;
	margin: 1em;
}
#menuArea {   
	float:left;
	width:100%;
	min-height: 2em;
	overflow:hidden;
	position:relative;
	margin-bottom: 5px;
}
#menuArea div {
	clear:left;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	left:50%;
	text-align:center;
}
#menuArea div span {
	display:block;
	float:left;
	list-style:none;
	margin:0;
	padding:0;
	position:relative;
	right:50%;
	font-size: 1.1em;
}
#menuArea div span a {
   display:block;
   margin:0 0 0 1px;
   padding:3px 10px;
   text-decoration:none;
   line-height:1.5em;
	border-radius: 5px !important;
}
#menuArea span a.active {
   font-weight:bold;
}




h1{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
		font-size: 1.8em;
    margin-bottom: 0.5em;
    text-align: center;
}

h2{
    font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
		font-size: 1.6em;
    margin-bottom: 0.5em;
    text-align: center;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
		padding-bottom: 0.5em;
}

p{
	margin-right:auto;
	margin-left:auto;
}

img{
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 10px;
}

a:link {
  text-decoration: none;
	outline:0;
}

hr {
    border-width: 1px;
}

/* Header styles */

header{
	padding:0.3em;
	border-width: 1px;
	border-style: solid;
	border-right: 0;
	border-left: 0;
	margin-bottom: 1em;
}

/* Button styles */

/* Menu Styles*/

.menu1 div{
	text-align: center;
  padding-left: 0;
	margin-bottom: 0.2em;
	flex-wrap: wrap;
}

.menu1 span{
  display: inline-block;
  font-size: 1em;
  text-transform: uppercase;
	margin-left: 0.3em;
	margin-right: 0.3em;
	height: 2.5em;
}
.menu1 span a {
	padding:8px;
	border-radius: 5px;
}

.transparent, .transparent div{
	background:none !important;
	box-shadow: none !important;
}

/* Sidebar styles*/

/* content area styles*/

#contentArea {
	width: 70%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 1em;
	border-width: 1px;
	border-style: solid;
	border-radius: 6px;
	padding: 1em;

}



#contentArea h1{
    font-size: 1.4em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    margin-bottom: 0.5em;
    text-align: center;
		text-shadow: none;
}

#contentArea h2{
    font-size: 1.2em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    margin-bottom: 0.5em;
    text-align: left;
		margin-right:auto;
		margin-left:auto;
		text-shadow: none;
}
#contentArea h3{
    font-size: 1em;
		font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
    font-style: normal;
    margin-bottom: 0.5em;
    text-align: left;
		margin-right:auto;
		margin-left:auto;
		text-shadow: none;
}

 #contentArea ul{
	  display: block;
    list-style-type: disc;
		margin-right:auto;
		margin-left:auto;
}

	/* Change bullet color of list item by replacing it with CSS*/
	#contentArea ul li {
		list-style: none;
		font-size: 1em;
		margin-right:auto;
		margin-left: 2em;
		padding: 0.5em;
	}

	#contentArea ul li p {
    padding: 0;
    margin: 0;
		display:inline-block;
}

	#contentArea ul li::before {
 		content: "\25CF"; /* Unicode of character to precede the list item */
	  font-size: 1em;
		padding-right: 1em;
}

	#contentArea p{
		font-size: 1em;
		margin-right:auto;
		margin-left: 1em;
		text-align: left;
	}

	#contentArea p img{
		margin-top: 1em;
	}

	#contentArea img{
		display: block;
    margin: auto;
	}

	/*Footer styles*/

footer{
	text-align: center;
	font-style: italic;
	font-size: 0.7em;
	margin-bottom: 3em;
}

#footer-menu li{
	display: inline-block;
	padding-top: 5px;
	padding-bottom: 5px;
	padding-left: 2em;
	padding-right: 2em;
	font-size: 0.8em;
}
#footer-menu li a:link{
	text-decoration: none;
	font-style: oblique;
	color:#ec9c36;

}
#footer-menu ul{
  list-style: none;
  text-align: center;
}

/*Social Menu*/

/* Responsive Design */

@media only screen and (max-width: 800px) {

	h1{
		font-size: 150%;
	}
	h2{
		font-size: 120%;
	}

	div#kiamagic-top-level_menu {   
		margin-left: 0;
		margin-right: 0;
	}

	#menuArea {   
		height: auto;
		position:static;
	}
	#menuArea div {
		position:static;
	}
	#menuArea div span {
		position:static;
		display: block;
		width: 95%;
		margin-bottom: 0.5em;
	}

	#contentArea {
		width: 95%;
		margin-right:0;
		margin-left:0;
		padding:1em;
		padding-left: 0;
		border-radius: 0;
		border: none;
	}

	#contentArea p {
		margin-left:0;
		padding-right: 1em;
		padding-left: 1em;
	}

	.menu1 span{
		display: inline-block;
	}

#contentArea ul li{
	font-size: 0.8em;
	max-width: 90%;
	margin-left: 1em;
	margin-right: 0.5em;
}

}
@media only screen and (max-width: 400px) {
	.menu1 span{
		display:block;
		width: 100%;
		margin-left: 0;
		margin-right: 0;

	}
	.menu1 span a{
		width:100%;
		display:block;
		border-radius: 0;
	}
}
