/* GENERAL THEME STYLES */

/* HTML Classes */
body {
	background: #111;
	color: #9f9;
}


header {
	background: #000;
}
#sitetitle h1 {
	color: #ff0;
}

#menuArea div span a {
   background:#6a6;
   color:#ddd;
}
#menuArea div span a:hover {
   background:#7b7;
   color:#fff;
}
#menuArea div span a.active {
   color:#fff;
   background:#111;
}
#menuArea div span a.active:hover {
   background:#494;
   color:#fff;
}


h1 {
  color:#33ee33;
  text-shadow: 1px 1px 5px #28281e, 2px 2px 10px  #96834c;
}

h2 {
  color:#33ee33;
	text-shadow: 1px 1px  #28281e ;
}

h3 {
  color:#33ee33;
	text-shadow: 1px 1px  #28281e ;
}

a {	color: #e76d33; }
a:hover { color: #fbb963; }

a:focus { color:#fbb963;}

a:visited { color:#e7c9a3;}

a:active { color:#e7c9a3;}

img {
	color: #00ee00;
	border-color: #5b5349;
}

hr {
    color: rgba(0,239,0, 0.2);
}

/* Generic Classes */
/* Enclosure Classes
(can be applied to elemens such as headers, footers or document body)*/

.enclosure1{
  background-color: #000;
	color: #9f9;
}

/* Enclosure2 Styles */

.enclosure2{
	background-color: #090909;
	color: #ff9;
}

/* Enclosure3 Styles */

.enclosure3{
  background-color: #161616;
	color: #9ff;
}

/* Pattern Classes
(can be applied to add gradient to any element with a background) */

.pattern1 { background: linear-gradient(#111111,#222222);}

.pattern2 { background: linear-gradient(to right, rgba(16,16,16,0.9), rgba(16,16,16,1));}

.pattern3 { background: linear-gradient(to left, rgba(16,16,16,0.9), rgba(16,16,16,1));}

/* Button Classes
(to be used with any elements that act like a button)*/

.button1{
  border-color: #00ee00;
  background: #111111;
  color: #00ee00;
}

.button1:hover{
  background: #00ee00;
  color: #111111;
  border-color: #eeeeee;
}

.button2{
  border-color: #00ee00;
  background: #111111;
  color: #00ee00;
}

.button2:hover{
  background: #00ee00;
  color: #eeeeee;
  border-color: #eeeeee;
}

/*Box Shadow Classes
(can be added to any element */

.boxshadowL{  box-shadow:0px 0px 25px #eeeeee ;}
.boxshadowM{ box-shadow:0px 0px 5px #eeeeee ; }

.boxshadowM img{ box-shadow:2px 2px 5px #eeeeee; }

.boxshadowM #profile-banner{ box-shadow:0px 0px 5px #eeeeee; }
.boxshadowM .menu span a{ box-shadow:0px 0px 5px #cccccc; }

.boxshadowM .menu span a:hover{ box-shadow:0px 0px 8px #eeeeee; }

.boxshadowM .menu span a:focus{ box-shadow:0px 0px 10px #eeeeee; }

.boxshadowMInv{ box-shadow:0px 0px 5px #eeeeee; }

.boxshadowMInv:hover{ box-shadow:0px 0px 8px #eeeeee; }

.boxshadowMInv img:hover{ box-shadow:0px 0px 5px #eeeeee; }

.boxShadowS{ box-shadow: 0px 0px 10px #eeeeee; }

.boxShadowXS { box-shadow:0px 0px 5px #eeeeee; }




/*Header styles*/

/* header {
	background-color: #111111;
	border-color: #00ee00;
}

header.no_bg_img {
  background: linear-gradient(#111111,#111111);
}

div#banner-gradient {
	background: linear-gradient(to right, rgba(16,16,16,0.5), rgba( 16,16,16,1));
} */

/* Menu Styles*/

.menu1 span a {
  background-color:#161616;
	color:#00dddd;
}

.menu1 span a:hover {
	background-color:#00dddd;
	color:#eeeeee;
}

.menu1 span a:focus {
	background-color:#00dddd;
	color:#eeeeee;
}

.menu1 span a:active {
	background-color:#00eeee;
	color:#111111;
}

/*Sidebar styles*/
.menu2 span a {
  background: none;
  box-shadow: none;
}

.menu2 span a:hover { box-shadow: none;}

.menu2 span a:focus { box-shadow: none;}

.menu2 span a:active { box-shadow: none;}

.menu2 span {
  background: #111111;
  color: #00ee00;
}

.menu2 div { background-color: #00ee00;}

  /* content area styles*/
#contentArea{
	color: #00ee00;
	border-color: #00ee00;
  background-color: #131313;
}

#contentArea h1 {
color: #00ee00;
text-shadow: 1px 1px 5px #beb19f;
}

#contentArea h2 { color:#66ee66;}

#contentArea h3 { color: #33ee33;}

#contentArea ul li {
  color: #00ee00; 	/* set color of list item text */
}

#contentArea ul li::before {
  color: #00ee00;   /* color of unicode character */
}

/* Footer Styles*/

/* #footer-menu li a:link { color:#504628;} */

/*Social Menu*/
div.socialmenu.icon a img{
  box-shadow: none;
}

div.socialmenu.icon img{
   filter:hue-rotate(290deg) brightness(110%) blur(1px);
}

div.socialmenu.icon img:hover{
   filter:hue-rotate(290deg) brightness(190%) blur(0px);
}