
html{
	margin: 0;
	padding: 0;
}

/*Generic classes*/
body{
	width: 100%;
	margin:0;
	font-family: "Garamond", "Palatino", serif;
	font-size: 1.3em;
}

h1{
  font-family: "Garamond", "Palatino", serif;
	font-size: 2em;
  margin-bottom: 0.5em;
  text-align: center;
	padding-top:0.5em;
	margin-top: 0;

}

h2{
	font-family: "Garamond", "Palatino", serif;
	font-size: 1.5em;
  margin-bottom: 0.5em;
  text-align: left;
	width: 70%;
	margin-right:auto;
	margin-left:auto;
	padding-bottom: 0.5em;

}
h3{
  font-family: "Garamond", "Palatino", serif;
	font-size: 1.3em;
  margin-bottom: 0.5em;
  text-align: left;
	width: 70%;
	margin-right:auto;
	margin-left:auto;
	padding-bottom: 0.5em;
}

p{
	font-family: "Garamond", "Palatino", serif;
	font-size: 1em;
	width: 70%;
	margin-right:auto;
	margin-left:auto;
}

img{
	max-width: 70%;
	margin-right:auto;
	margin-left:auto;
	border-radius: 10px;
}

a { text-decoration: none;}

hr {
    border-width: 1px;
}

/* Header styles */

header{
	background-repeat: no-repeat;
  background-size:cover;
	background-position: center;
	padding:0;
	margin:0;
}

div.pattern1 { margin-top: 0;}

/* Button styles */

button#openNav{
	font-size: 2em;
	margin-left: 1em;
	position: fixed;
	top:0.5em;
	left: 0em;
	border-radius: 5px;
	padding-bottom: 0.2em;
	opacity: 0.7;
	border:none;
}

button#openNav:focus{ outline:0;}


button#closeNav{
	background-color: transparent !important;
	font-size: 3em;
	border: none;
	padding: 0 2px 2px 2px;
	border:none;
}

button#closeNav{ outline:0;}


/* Menu Styles*/

.menu2 div{
	text-align: center;
	list-style: none;
	text-align: center;
	flex-wrap: wrap;
	padding-top: 2px;
	padding-bottom: 1px;
	margin-bottom: 1em;

}

.menu2 span{
  display: block;
  font-size: 1.25em;
  text-transform: uppercase;
	padding-top: 4px;
	padding-bottom: 2px;
	margin-bottom: 1px;
}

.menu2 span a {
	text-decoration:none;
	width: 100%;
}

/* Sidebar styles*/

#leftpad{
	padding: 0;
	margin: 0;
}

#sidebar {
    height: 100%;
    width: 300px;
    position:fixed;
    z-index: 1;
    top: 0;
    left:-300px;
    overflow: hidden;
		text-align: center;
}

#sidebar a {
    text-decoration: none;
		text-align: center;
}

/* Content Area Styles */

#contentArea{
  font-family: "Garamond", "Palatino", serif;
	width:70%;
	margin-right:auto;
	margin-left:auto;
	margin-bottom: 2em;
	border-style:solid;
	border-width: 1px;
	padding:1em;
	display: block !important;
}

#contentArea h1{
    font-family: "Garamond", "Palatino", serif;
		font-size: 1.3em;
		font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}

#contentArea h2{
    font-family: "Garamond", "Palatino", serif;
		font-size: 1.2em;
		font-weight: bold;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}

#contentArea h3{
    font-family: "Garamond", "Palatino", serif;
		font-size: 1.1em;
		font-weight: lighter;
    margin-bottom: 0.5em;
    text-align: left;
		width: 70%;
		margin-right:auto;
		margin-left:auto;
}

 #contentArea ul{
	  display: block;
    list-style-type: none;
		width: 70%;
		margin-right:auto;
		margin-left:auto;

}

 #contentArea ul li{
	list-style: none;
	font-size: 1em;
	margin-right:auto;
	margin-left: 2em;
	padding: 0.5em;
}

	#contentArea ul li::before {
		content: "\25C8"; /* Unicode of character to precede the list item */
	  font-size: 1em;
		padding-right: 1em;
	}
	#contentArea ul li p {
    padding: 0;
    margin: 0;
}

	#contentArea p{
    font-family: "Garamond", "Palatino", serif;
		font-size: 1em;
		width: 90%;
		margin-right:auto;
		margin-left:auto;
		text-align: left;
	}

	/* Footer styles*/

	footer div{
		padding-top: 5px;
		padding-bottom: 5px;
		padding-left: 2em;
		padding-right: 2em;
		font-size: 0.8em;
		list-style: none;
	  text-align: center;
	}

	footer span{
		display: block;
		margin: 0.5em;
		font-size: 1em;
		font-style: normal;
	}


/*Social Menu*/

	div.icon, div.icon:hover, div.icon:focus{
		box-shadow:none;
	}

	div.icon span a:link{
	display: inline-block;
	text-decoration: none;
	font-style: oblique;
	height: 45px;
	width: 45px;
	padding:0;
	border-radius: 5px;
	margin-bottom: 0.5em;
}

 div.icon img{
	margin: 0;
	max-width: 100%;
}

/* Responsive Design */

@media only screen and (max-width: 800px) {

	#sidebar {
	    height: 100%;
	    padding-top: 20px;
			text-align: center;
			display:block;
			position:static;
			width:100%;
	}

	button#closeNav, button#openNav{ display: none;}

	#contentArea{
		width: 100% !important;
		margin-left: 0;
		margin-right: 0;
		padding: 0;
		padding-bottom: 1em;
		border-left: none;
		border-right: none;
	}

	#leftpad{
		padding-left:0 !important;
		margin: 0;
	}
} /* end of media max-width 800px */
