body {
  margin: 0;
}

#terminal {
    height: 90vh;
    overflow-y: auto;
    border: 1px solid;
    border-radius: 5px;
    overflow-x: hidden;
		font-size: 1.2em;
		position: relative;
    margin: 0.5em;
}
#contentArea{
	padding: 2em;
	min-height: 100%;
	font-family: monospace;
	font-size: 1.5em;
}

.enclosure3 h1 {
	font-weight: bolder;
	font-size: 1em;
}
.enclosure3 h2 {
	font-weight: bold;
	font-size: 1em;
}
.enclosure3 h3 {
	font-weight: bold;
	font-style: italic;
	font-size: 1em;
}
.enclosure3 p {
	font-size: 1em;
}
.enclosure3.menu1 div {
  background-color: transparent !important;
}

/* Flux-State Menu Styles */
#mainMenu {
	display: none;
	min-height: 100%;
}
#mainMenu h1 {
	font-weight: bolder;
	font-family: monospace;
	font-size: 3em;
	text-align: center;
}
#menuArea span {
	display: block;
	width: 100%;
	text-align: center;
	font-family: monospace;
	font-size: 2em;
	margin-top: 1em;
}
#menuArea span a {
	text-decoration: none;
	padding: 0.5em;
	padding-left: 2em;
	padding-right: 2em;
}

#socialMenu {
	display: none;
	min-height: 100%;
	text-align: center;
}
#socialMenu h1 {
	font-weight: bolder;
	font-family: monospace;
	font-size: 3em;
	text-align: center;
}
#socialMenu a {
	text-decoration: none;
  background-color: transparent;
}
#socialMenu a:hover {
	background-color: transparent;
}
.socialmenu {
	margin-left: auto;
	margin-right: auto;
	min-width: 200px;
	display: inline-block;
}

#sitetitles h1 {
	font-family: monospace;
	font-size: 1em;
	font-weight: bold;
	display: inline-block;
	padding-right: 20px;
}
#sitetitles h2 {
	font-family: monospace;
	font-style: italic;
	font-size: 1em;
	display: inline-block;
}

#fluxstate-menu {
	position: sticky;
	bottom: 0;
	left: 0;
	background-color: rgba(0,0,0, 0.8);
	width: 100%;
	margin: 0;
	padding: 10px;
}

.social img{
   display: inline-block;
	 margin: 0.5em;
}

/* Materical Icons Support */
@font-face {
  font-family: 'Material Icons';
  font-style: normal;
  font-weight: 400;
  src: url(../.././lib/fonts/micons/MaterialIcons-Regular.eot); /* For IE6-8 */
  src: local('Material Icons'),
    local('MaterialIcons-Regular'),
    url(../.././lib/fonts/micons/MaterialIcons-Regular.woff2) format('woff2'),
    url(../.././lib/fonts/micons/MaterialIcons-Regular.woff) format('woff'),
    url(../.././lib/fonts/micons/MaterialIcons-Regular.ttf) format('truetype');
}

.micon {
  font-family: 'Material Icons';
  font-weight: normal;
  font-style: normal;
  font-size: 64px;  /* Preferred icon size */
  display: inline-block;
  line-height: 1;
  text-transform: none;
  letter-spacing: normal;
  word-wrap: normal;
  white-space: nowrap;
  direction: ltr;

  /* Support for all WebKit browsers. */
  -webkit-font-smoothing: antialiased;
  /* Support for Safari and Chrome. */
  text-rendering: optimizeLegibility;

  /* Support for Firefox. */
  -moz-osx-font-smoothing: grayscale;

  /* Support for IE. */
  font-feature-settings: 'liga';
}

/* Rules for sizing the icon. */
.micon.md-18 { font-size: 18px; }
.micon.md-24 { font-size: 24px; }
.micon.md-36 { font-size: 36px; }
.micon.md-48 { font-size: 48px; }

@media only screen and (max-width: 800px) {
  #terminal {
    border: 0;
    border-radius: 0;
    margin: 0;
  }
  
	.micon {
    font-size: 64px;
  }
}
